* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

.container {
  width: 90%;
  height: 90vh;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-section {
  flex: 1.5;
  background-color: #ac3939;
  color: #ffffff;
}

.header-section .name {
  color: #050597;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 15px;
}

#comment {
  color: #e6e600;
}

.result {
  font-size: 26px;
  font-weight: bold;
  color: rgb(3, 70, 124);
  border: 3px solid rgb(236, 3, 3);
  padding: 6px;
}
.header-section .name span {
  color: #000000;
}
.playing-section {
  flex: 6;
  background-color: #004d00;
  color: #ffffff;
  display: flex;
}

.user h2,
.bot h2 {
  margin-bottom: 50px;
}

.user,
.bot {
  flex: 1;
  padding-top: 20px;
  border: 1px solid #000000;
}

.control-section {
  flex: 1;
  padding-top: 10px;
}

.control-section #one,
#two,
#three {
  margin: 15px;
}

.score-section {
  margin: 0 auto;
  margin-bottom: 10px;
  color: #000000;
  background-color: #b8b894;
  font-weight: bolder;
}
tr,
td,
th {
  border: 1px solid #000000;
  padding-left: 15px;
  padding-right: 15px;
}
